<!DOCTYPE html>
<html>
<head>
	<a href="about.html"> </a>
		<link rel=stylesheet href="../assets/css/estilos.css"/>
		<link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,700;1,500&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset= "utf-8">
	<title> About Diego Colman | Web Developer  </title>
</head>
<body>
<header>
	<!-- AUN NO DECIDO SI CON LOGO 	<a href="index.html">
		<img src="http://placeimg.com/50/50/tech/sepia" alt="Logo de la página">
	</a> -->
</header>
	<nav>
		<ul>
			<li><a href="../index.html"> HOME </a> </li>
			<li><a href="about.html"> ABOUT </a> </li>
			<li><a href="inspira.html"> INSPIRATION </a> </li>
			<li><a href="contact.html"> CONTACT </a> </li>
		</ul>
	</nav>
		<h1 class="about-main-title"> About </h1>
		<h2 class="about-second-title"> This is me: </h2>
	<div class="container">
		
		<div class="column">
			<div class="card">
				<p class="about-me-p">
		        Ok this WAS me some years ago.
				</p>
			<img src="../img/fotovieja2.jpg" alt="Young Diego Colman" class="little-me-img">
			</div>
		</div>

		<div class="column">
			<div class="card">
				<h3 class="third-title"> what happened in the middle? </h3>
				<p class="middle-p">
		        Since i was little, i was extreamly passionate about computers, my parents gave me my first computer when i was four years old so i grew up sitting in front of a computer but it wasnt til' 2019 that i started to realise that i wanted to know more, i wanted to know what was inside of them, and this let us here, now. 
				</p>
			</div>
		</div>


		<div class="column">
			<div class="card">
				<p class="about-me-p">
		        this is how i look NOW:
				</p>
		<img src="../img/fotoactual.jpg" alt="Diego Colman" class="little-me-img">
			</div>
		</div>			
	</div>


<footer id="main-footer">
	<p  class="footer-p">Content Delivered with ❤️ by Diego Colman. </p> 
</footer>
</body>
</html> 				