<!DOCTYPE html>
<html>
<head> 
	<a href="contact.html"> </a>
		<link rel=stylesheet href="../assets/css/estilos.css"/>
		<link href="https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap" rel="stylesheet">
	<meta charset="utf-8">
	<title> Contact Diego Colman | Web Developer </title> 
</head>
<body>
<header>
	<!-- SAME HERE.
 <a href="../index.html">
	<img src="http://placeimg.com/50/50/tech/sepia" alt="Logo de la página">
</a> -->
</header>
	<nav>
		<ul>
			<li> <a href="../index.html"> HOME </a> </li> 
			<li><a href="about.html"> ABOUT </a> </li>
			<li><a href="inspira.html"> INSPIRATION </a> </li>
			<li><a href="contact.html"> CONTACT </a></li>
		</ul>
	</nav>
	<h1 class="contact-main-title"> CONTACT ME! </h1>
		<p id="main-p"> I'm available for freelance work. </p>
		<p class="contact-me-p"> Feel free to drop me a line: 
			<br>
			<br>

		<a href="mailto: diegoagustincolman18@gmail.com?Subject=Hey" class="contact-me"> diegoagustincolman18@gmail.com </a> 
		</p>
<footer id="main-footer">
	 <p class="footer-p">Content Delivered with 🖤 by Diego Colman. </p>
</footer>
</body>
</html>