<!DOCTYPE html>
<html>
<head>
	<a href="about.html"> </a>

	<!-- BOOTSTRAP LINK-->
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

	   <!-- FIN --> 

		<a href="inspira.html"> </a>
		<link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,700;1,500&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset= "utf-8">

		<link rel=stylesheet href="../assets/css/estilos.css"/>
		<link rel="stylesheet" media="only screen and (max-width: 767px)" href="assets/css/estilos.css">
	<title> Inspiration Diego Colman | Web Developer  </title>
</head>
	<body>
<header>
	<!-- AUN NO DECIDO SI CON LOGO 	<a href="index.html">
		<img src="http://placeimg.com/50/50/tech/sepia" alt="Logo de la página">
	</a> -->
</header>
	<nav>
		<ul>
			<li><a href="../index.html"> HOME </a> </li>
			<li><a href="about.html"> ABOUT </a> </li>
			<li><a href="inspira.html"> INSPIRATION </a> </li>
			<li><a href="contact.html"> CONTACT </a> </li>

		</ul>
	</nav>

	<body>
			<h1 class="h1insp"> what inspires me? </h1>
			<!--
				<div class="margen">
					<div class="row">
					 	<div class="col-xs-12 col-md-4">
						    <a href="#">
						      <img src="https://picsum.photos/400/400" alt="..." class="inspiration-div">
						    </a>
						  </div>
					 	<div class="col-xs-12 col-md-4">
						    <a href="#">
						      <img src="https://picsum.photos/400/400" alt="..." class="inspiration-div">
						    </a>
						  </div>
						  <div class="col-xs-12 col-md-4">
						    <a href="#">
						      <img src="https://picsum.photos/400/400" alt="..." class="inspiration-div">
						 	 </a>
							</div>
						  <div class="col-xs-12 col-md-4">
						    <a href="#">
						      <img src="https://picsum.photos/400/400" alt="..." class="inspiration-div">
						 	 </a>
							</div>
						  <div class="col-xs-12 col-md-4">
						    <a href="#">
						      <img src="https://picsum.photos/400/400" alt="..." class="inspiration-div">
						 	 </a>
							</div>
						  <div class="col-xs-12 col-md-4">
						    <a href="#">
						      <img src="https://picsum.photos/400/400" alt="..." class="inspiration-div">
						 	 </a>
							</div>

						</div>
					</div>
				</div>
--->
				<div class="margen">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-4 foto">
							<img src="https://picsum.photos/400/400" alt="IMG1">
						</div>
						<div class="col-xs-12 col-sm-6 col-sm-6 col-md-4 foto">
							<img src="https://picsum.photos/400/400" alt="IMG2">
						</div>	
						<div class="col-xs-12 col-sm-6 col-md-4 foto">
							<img src="https://picsum.photos/400/400" alt="IMG3">
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 foto">
							<img src="https://picsum.photos/400/400" alt="IMG4">
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 foto">
						 	<img src="https://picsum.photos/400/400" alt="IMG5">
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 foto">
							<img src="https://picsum.photos/400/400" alt="IMG6">
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 foto">
							<img src="https://picsum.photos/400/400" alt="IMG7">
						</div>  
						<div class="col-xs-12 col-sm-6 col-md-4 foto">
							 <img src="https://picsum.photos/400/400" alt="IMG8">
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 foto">
							<img src="https://picsum.photos/400/400" alt="IMG9">
						</div>
					</div>
				</div>
			</div>	
		</div>			

				<footer id="main-footer">
					<p  class="footer-p">Content Delivered with ❤️ by Diego Colman. </p> 
				</footer>

			    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
		    <!-- Include all compiled plugins (below), or include individual files as needed -->
		    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
	</body>	
</html>